/* All background styling */
.big_banner{
    background-image: url("/images/3d_top_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}